<div class="container-fluid px-4 px-lg-5">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" asp-controller="Home" asp-action="Index" style="margin-left:80px;">
        <img src="/images/joonlogo--JfLTwqW.png" alt="Jooneli Inc" class="navbar-logo" style="height:75px; width:75px;">
    </a>
  
    <!-- Mobile Toggle -->
    <button class="navbar-toggler border-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
        <i class="bi bi-list fs-4 navbar-toggler-icon-custom"></i>
    </button>

    <div class="navbar-collapse collapse d-lg-flex justify-content-center">
        <ul class="navbar-nav gap-4">
            <!-- Other nav items -->
            <li class="nav-item">
                <a class="nav-link nav-link-custom fs-6 " asp-controller="About" asp-action="Index">ABOUT</a>
            </li>
            <!-- Solutions Dropdown -->
            <li class="nav-item dropdown solutions-dropdown">
                <a class="nav-link nav-link-custom fs-6 " asp-controller="Solutions" asp-action="Index">
                    SOLUTIONS
                </a>
            </li>
            <!-- Regular nav items -->
            <li class="nav-item">
                <a class="nav-link nav-link-custom fs-6 " asp-controller="Career" asp-action="Index">CAREER</a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link-custom fs-6 " asp-controller="News" asp-action="Index">NEWS</a>
            </li>
        </ul>
    </div>

    <!-- Get in Touch Button -->
    <div class="d-none d-lg-block" style="margin-right:80px;">
        <a class="btn btn-touch-custom btn-outline-light px-4 py-2 fw-medium" asp-controller="Message" asp-action="Index">
            Get in Touch
        </a>
    </div>

    @* <!-- Mega Dropdown Container -->
    <div class="mega-dropdown-container">
        <div class="mega-dropdown">
            <!-- Your mega dropdown content here -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Corporate Digital Banking</h5>
                        <ul class="list-unstyled">
                            <li class="text-decoration-none list-unstyled mb-4">
                                <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center">
                                    <i class="bi bi-bank me-2"></i>
                                    <span class="me-3 text-black">360 CBS</span>
                                </a>
                                <span class="ms-4">Comprehensive corporate banking solutions</span>
                            </li>
                            <li class="text-decoration-none list-unstyled mb-4">
                                <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center">
                                    <i class="bi bi-phone me-2"></i>
                                    <span class="me-3 text-black">Mobile Banking</span>
                                </a>
                                <span class="ms-4 ">>Banking on-the-go, anywhere, anytime</span>
                            </li>
                            <li class="text-decoration-none list-unstyled mb-4">
                                <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center">
                                    <i class="bi bi-cash-coin me-2"></i>
                                    <span class="me-3 text-black">ATM Banking</span>
                                </a>
                                <span class="ms-4 ">Access your funds securely with ATMs</span>
                            </li>
                            <li class="text-decoration-none list-unstyled ">
                                <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center">
                                    <i class="bi bi-phone me-2"></i>
                                    <span class="me-3 text-black">Mobile Teller</span>
                                </a>
                                <span class="ms-4 ">Instant teller access from your phone</span>
                            </li>
                        </ul>
                    </div>

                    
                    <div class="col-md-4">
                        <h5>Trading System</h5>
                        <ul class="list-unstyled">
                            <li class="text-decoration-none list-unstyled mb-4">
                                <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center">
                                    <i class="bi bi-cart-dash me-2"></i>
                                    <span class="me-3 text-black">Trading System</span>
                                </a>
                                <span class="ms-4 ">Advanced trading system for efficient trading</span>
                            </li>

                            <li class="text-decoration-none list-unstyled">
                                <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center">
                                    <i class="bi bi-building me-2"></i>
                                    <span class="me-3 text-black ">ERP Mobile</span>
                                </a>
                                <span class="ms-4 ">Mobile ERP for enterprise management</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5>Automation</h5>
                        <ul class="list-unstyled">
                            <li class="text-decoration-none list-unstyled mb-4">
                                <a href="http://multipledesk.com/" class="text-decoration-none d-flex align-items-center">
                                    <i class="bi bi-plug me-2"></i>
                                    <span class="me-3 text-black">MultipleDesk - Remote Access</span>
                                </a>
                                <span class="ms-4 ">Remote access for seamless multitasking</span>
                            </li>
                            <li class="text-decoration-none list-unstyled">
                                <a href="#" class="text-decoration-none d-flex align-items-center">
                                    <i class="bi bi-envelope me-2"></i>
                                    <span class="me-3 text-black">Email Automation</span>
                                </a>
                                <span class="ms-4 ">Automate your email marketing and campaigns</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    @await Html.PartialAsync("Partials/_MegaDropdown.cshtml")
</div>