<div class="container-fluid px-4 px-lg-5">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center navbar-brand-custom" asp-controller="Home" asp-action="Index">
        <img src="~/images/joonlogo--JfLTwqW.png" alt="Jooneli Inc" style="height:35px;"/>
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
        <i class="bi bi-list fs-4 "></i>
    </button>

    <div class="navbar-collapse collapse d-lg-flex justify-content-center">
        <ul class="navbar-nav gap-4">
            
            <!-- Other nav items -->
            <li class="nav-item">
                <a class="nav-link fs-6 nav-link2 " asp-controller="About" asp-action="Index">ABOUT</a>
            </li>

            <!-- Solutions Dropdown -->
            <li class="nav-item dropdown solutions-dropdown">
                <a class="nav-link fs-6 nav-link2 " asp-controller="Solutions" asp-action="Index">
                    SOLUTIONS
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-6 nav-link2 " asp-controller="Career" asp-action="Index">
                    CAREER
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-6 nav-link2 " asp-controller="News" asp-action="Index">
                    NEWS
                </a>
            </li>

        </ul>
    </div>

    <!-- Get in Touch Button -->
    <div class="d-none d-lg-block" style="margin-right:80px;">
        <a class="btn btn-outline-danger px-4 py-2 fw-medium" asp-controller="Message" asp-action="Index">
            Get in Touch
        </a>
    </div>

    @await Html.PartialAsync("Partials/_MegaDropdown.cshtml")
</div>