<section class="solution-section py-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 order-2 order-md-1">
                <p class="display-5 fw-bold" style="background: linear-gradient(to right, #f44336, #4caf50); -webkit-background-clip: text; color: transparent;">Our Solutions</p>
                <p class="fs-5 fw-normal ">By seamlessly integrating mobile, web and branch banking, our Omnichannel Banking solution offers an all-in-one digital suite that acts as a unified system, connecting all banking and third-party services across platforms.</p>
            </div>

            <div class="col-lg-4 order-1 order-md-2">
                <img class="w-100 img-scaling" src="/images/business-solutions-header.png" alt="Omni-Channel Banking - Featured Image" data-pagespeed-url-hash="2031301000" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
        </div>
    </div>
</section>