@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Quick Connect Section -->
<div class="container">
    <h2 class="text-center fw-bold mb-4" style="font-size: 2.5rem; color:rgb(230,0,0)">BUSINESS VERTICALS</h2>
    <p class="text-center mb-4" style="font-size: 1.1rem;">
        Grow Your Business With Us
    </p>

    <div class="d-flex flex-wrap justify-content-center gap-4">
        <a asp-controller="Business" asp-action="Multidesk" class="text-decoration-none text-dark">
        <div class="card shadow rounded" style="max-width:300px">
            <div class="card-body">
                <h5 class="card-title text-danger mb-3">
                    <i class="bi bi-shield-lock me-2"></i> 360 Core Banking System
                </h5>

                <div class="bg-light p-4 rounded my-3 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#dc3545" class="bi bi-pc-display mb-3" viewBox="0 0 16 16">
                        <path d="M5.5 13a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1H9v-1h3a2 2 0 0 0 2-2V3a2
                        2 0 0 0-2-2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h3v1H5.5zm-2-3V3a1
                        1 0 0 1 1-1h8a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4.5a1 1 0 0 1-1-1z" />
                    </svg>
                </div>

                <p>
                    Instantly access and control any device as if you were sitting in front of it, no hassle.
                </p>
            </div>
        </div>
        </a>

        <a asp-controller="Business" asp-action="Multidesk" class="text-decoration-none text-dark">
        <div class="card shadow rounded" style="max-width:300px">
            <div class="card-body">
                <h5 class="card-title text-danger mb-3">
                    <i class="bi bi-shield-lock me-2"></i> Trading System
                </h5>

                <div class="bg-light p-4 rounded my-3 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" fill="#dc3545" class="bi bi-pc-display mb-3" viewBox="0 0 384 512">
                        <path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM216 408c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-102.1-31 31c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l72-72c9.4-9.4 24.6-9.4 33.9 0l72 72c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-31-31L216 408z" />
                    </svg>
                </div>

                <p>
                    Instantly access and control any device as if you were sitting in front of it, no hassle.
                </p>
            </div>
        </div>
        </a>

        <a asp-controller="Business" asp-action="Multidesk" class="text-decoration-none text-dark">
        <div class="card shadow rounded" style="max-width:300px">
            <div class="card-body">
                <h5 class="card-title text-danger mb-3">
                    <i class="bi bi-shield-lock me-2"></i> MultipleDesk
                </h5>

                <div class="bg-light p-4 rounded my-3 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" fill="#dc3545" class="bi bi-pc-display mb-3" viewBox="0 0 384 512">
                        <path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM216 408c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-102.1-31 31c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l72-72c9.4-9.4 24.6-9.4 33.9 0l72 72c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-31-31L216 408z" />
                    </svg>
                </div>

                <p>
                    Instantly access and control any device as if you were sitting in front of it, no hassle.
                </p>
            </div>
        </div>
       </a>

    </div>
</div>
