@using webjooneli.Models.Entities
@model MessagesModel;

<div class="cpy-7 mt-md-5 mt-0">
    <div class="row  align-items-center gx-5">
        @* <h3 class="text-danger">Send Us a Message</h3> *@
        <h3 style="background: linear-gradient(to right, #f44336, #4caf50); -webkit-background-clip: text; color: transparent;">
            Send Us a Message
        </h3>
        <!-- Text Content -->
        <div class="col-md-6 order-2 order-md-1">
            <form asp-controller="Message" asp-action="Index" method="post" id="contactForm">

                @* Display validation errors *@
                <div asp-validation-summary="All" class="text-danger"></div>

                <!-- Full Name -->
                <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="name" name="name" asp-for="Name" required>
                </div>

                <!-- Email Address -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" asp-for="Email" required>
                </div>

                <!-- Subject -->
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" asp-for="Subject" required>
                </div>

                <!-- Message -->
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="5" asp-for="Message" required></textarea>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-danger px-5 py-3">Send Message</button>
            </form>

        </div>

        @* <!-- Image Section --> 
        <div class="col-md-6 text-center pe-md-3 mt-4 mt-md-0 order-1 order-md-2"> 
            <div class="bg-image" style="background-image: url('/wwwroot/images/handshake.jpg'); background-size: cover; background-position: center center;height:300px;width:300px;"> 
            </div> 
        </div> 


        <!-- Google Map Section -->
        <div class="row mt-5">  
            <div class="col-6>  
              <h3 class="text-center mb-4">Our Location</h3>  
                <div class="map-responsive">  
                    <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  
               </div>  
            </div>  
        </div>  
 *@
    </div>
</div>

<!-- Contact Information Section -->
<div class="row mt-5">
    <div class="col-md-6">
        <h3 class="text-danger">Get In Touch</h3>
        <ul class="list-unstyled">
            <li>
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                    </svg>
                </strong>Sanepa-2, Lalitpur, Nepal
            </li>
            <li>
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                </strong> 01-5153449, 9803719451
            </li>
            <li>
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                    </svg>
                </strong> <a href="mailto:info@jooneli.com">  info@jooneli.com </a>
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <h3 class="text-danger">Follow Us</h3>
        <ul class="list-unstyled">
            <li>
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                    </svg>
                </strong> <a href="https://www.facebook.com/profile.php?id=100063535842460" target="_blank">facebook.com/jooneli</a>
            </li>
            <li>
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                        <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                    </svg>
                </strong> <a href="https://twitter.com/jooneli" target="_blank">twitter.com/jooneli</a>
            </li>
            <li>
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                    </svg>
                </strong> <a href="https://linkedin.com/company/jooneli" target="_blank">linkedin.com/company/jooneli</a>
            </li>
        </ul>
    </div>
</div>




<!-- Toast -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="liveToast" class="toast align-items-center text-white bg-success border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @TempData["SuccessMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
        var toastElement = document.getElementById('liveToast');
        if (toastElement) {
        var toast = new bootstrap.Toast(toastElement);
        toast.show();
        }
        });
    </script>
}

<!-- Add Some Custom Styles -->
<style>
    .map-responsive {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        height: 0;
        max-width: 100%;
    }

        .map-responsive iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .container {
        margin-top: 20px;
    }
</style>



