<section class="container-fluid mt-4" style="width: 80%; margin: 0 auto;">

<div class="row justify-content-center">
    <div class="d-flex col-lg-3 col-md-6 col-12 mb-lg-0 mb-4">
            <div class="card card-overlay w-100" style="background-image: url('/images/homebanner/country.jpg'); background-size: cover; background-position: center center; min-height: 300px;">
            <div class="card-body text-center px-4" style="padding-top:55%;padding-bottom:25px;">
                <p class="display-5 fw-600 text-white">2</p>
                <p class="fs-4 fw-200 text-white mb-4">Countries</p>
                <p class="small fw-100 text-white line-height-135" style="font-family: 'Epilogue', sans-serif;font-size: 13px !important;font-weight: 180 !important;">With our innovation center in Nepal and business center in Dubai, we continue to expand our horizons</p>
            </div>
        </div>
    </div>

    <div class="d-flex col-lg-3 col-md-6 col-12 mb-lg-0 mb-4">
            <div class="card card-overlay w-100" style="background-image: url('/images/homebanner/user.jpg'); background-size: cover; background-position: center center; min-height: 300px;">
            <div class="card-body text-center px-4" style="padding-top:55%;padding-bottom:25px;">
                <p class="display-5 fw-600 text-white">500K+</p>
                <p class="fs-4 fw-200 text-white mb-4">Users</p>
                <p class="small fw-100 text-white line-height-135" style="font-family: 'Epilogue', sans-serif;font-size: 13px !important;font-weight: 180 !important;">Our technology touches the lives of millions of people, simplifying their access to financial services</p>
            </div>
        </div>
    </div>

    <div class="d-flex col-lg-3 col-md-6 col-12 mb-lg-0 mb-4">
            <div class="card card-overlay w-100" style="background-image: url('/images/homebanner/team.jpg'); background-size: cover; background-position: center center; min-height: 300px;">
            <div class="card-body text-center px-4" style="padding-top:55%;padding-bottom:25px;">
                <p class="display-5 fw-600 text-white">25+</p>
                <p class="fs-4 fw-200 text-white mb-4">Strong Team</p>
                <p class="small fw-100 text-white line-height-135" style="font-family: 'Epilogue', sans-serif;font-size: 13px !important;font-weight: 180 !important;">Guided by our values, our workforce comprises experienced technologists, domain experts, and creative thinkers</p>
            </div>
        </div>
    </div>
</div>


</section>

      