<section class="solution-section py-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 order-2 order-md-1">
                <h1 class="display-5 fw-bold text-gradient mt-4 mb-4" style="background: linear-gradient(to right, #f44336, #4caf50); -webkit-background-clip: text; color: transparent;">Innovative IT Solutions for Financial Institutions</h1>
                <p class="fs-5 fw-normal ">Jooneli Inc. Pvt. Ltd. is a Nepali software company providing IT solutions to financial institutions.
                    Founded in 2071, Jooneli offers the 360 Core Banking System, enabling real-time, secure banking. 
                    With 367+ cooperatives as partners, the company focuses on financial inclusion and customer-driven innovation.
                </p>
            </div>

            <div class="col-lg-4 order-1 order-md-2">
                <img class="w-100 img-scaling" src="~/images/7990322.jpg" alt="Omni-Channel Banking - Featured Image">
            </div>
        </div>
    </div>
</section>