<div class="row justify-content-center">
    <div class="col-lg-10">


         <nav class="mb-5">
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link text-black active" id="nav-type1-tab" data-bs-toggle="tab" data-bs-target="#nav-type1" type="button" role="tab" aria-controls="nav-type1" aria-selected="true">Board of Directors</button>
                <button class="nav-link text-black" id="nav-type2-tab" data-bs-toggle="tab" data-bs-target="#nav-type2" type="button" role="tab" aria-controls="nav-type2" aria-selected="false" tabindex="-1">Leadership Team</button>
                @* <button class="nav-link text-black" id="nav-type3-tab" data-bs-toggle="tab" data-bs-target="#nav-type3" type="button" role="tab" aria-controls="nav-type3" aria-selected="false" tabindex="-1">Advisors</button> *@

            </div>
        </nav>  

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-type1" role="tabpanel" aria-labelledby="nav-type1-tab" tabindex="0">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h3 class="text-center mb-4">Board Of Director</h3>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            <img class="leadership-img img-fluid" src="~/images/leadership/Apersir.jpg" alt="AAPAR sir" style="height:250px;width:200px;object-fit:cover;">
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Aapar Thebe</p>
                                <p class="text-uppercase text-xs fw-500">CHAIRPERSON</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            @* <img class="leadership-img img-fluid" src="~/images/leadership/Apersir.jpg" alt="ANITA THAPA" style="height:250px;width:200px;object-fit:cover;"> *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="250px" height="250px" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Anita Thapa</p>
                                <p class="text-uppercase text-xs fw-500">MEMBER</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            @* <img class="leadership-img img-fluid" src="~/images/leadership/Apersir.jpg" alt="SAPANA MAHARJAN" style="height:250px;width:200px;object-fit:cover;"> *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="250px" height="250px" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Sapana Maharjan</p>
                                <p class="text-uppercase text-xs fw-500">MEMBER</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                  
                </div>
            </div>

            <div class="tab-pane fade " id="nav-type2" role="tabpanel" aria-labelledby="nav-type1-tab" tabindex="0">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h3 class="text-center mb-4">Leadership</h3>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            <img class="leadership-img img-fluid" src="~/images/leadership/Apersir.jpg" alt="AAPAR sir" style="height:250px;width:200px;object-fit:cover;">
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Aapar Thebe</p>
                                <p class="text-uppercase text-xs fw-500">CHIEF EXECUTIVE OFFICER</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            @* <img class="leadership-img img-fluid" src="~/images/leadership/Apersir.jpg" alt="ANITA THAPA" style="height:250px;width:200px;object-fit:cover;"> *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="250px" height="250px" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Sapana Maharjan</p>
                                <p class="text-uppercase text-xs fw-500">CHIEF OPERATING OFFICER</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            @* <img class="leadership-img img-fluid" src="~/images/leadership/Apersir.jpg" alt="SAJANA SHRESTHA" style="height:250px;width:200px;object-fit:cover;"> *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="250px" height="250px" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Sajana Shrestha</p>
                                <p class="text-uppercase text-xs fw-500">BUSINESS LEAD</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            <img class="leadership-img img-fluid" src="~/images/leadership/amoshsir.jpeg" alt="AMOSH SHRESTHA" style="height:250px;width:200px;object-fit:cover;"> 
                            @* <svg xmlns="http://www.w3.org/2000/svg" width="250px" height="250px" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg> *@
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Amosh Shrestha</p>
                                <p class="text-uppercase text-xs fw-500">ENGINEER</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            <img class="leadership-img img-fluid" src="~/images/leadership/aabhusansir.jpeg" alt="ABHUSAN KHANAL" style="height:250px;width:200px;object-fit:cover;" />
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Aabhushan Khanal</p>
                                <p class="text-uppercase text-xs fw-500">ENGINEER</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-5 d-flex justify-content-center">
                        <div class="text-center">
                            @* <img class="leadership-img img-fluid" src="~/images/leadership/Apersir.jpg" alt="SIDDAN ITANI" style="height:250px;width:200px;object-fit:cover;"> *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="250px" height="250px" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                            <div class="team__info">
                                <p class="fs-6 fw-bold text-f1">Siddhant Itani</p>
                                <p class="text-uppercase text-xs fw-500">ENGINEER</p>
                                <p class="text-muted text-xs fw-500">Jooneli Group</p>
                                <div class="">
                                    <a class="text-secondary" href="" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</div>



