html {
    font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



/* Responsive Adjustments */
/*@media (min-width: 376px) {
    .navbar-container {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (min-width: 576px) {
    .navbar-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 992px) {
    .navbar-container {
        padding-left: 110px;
        padding-right: 110px;
    }
}

@media (min-width: 1200px) {
    .navbar-container {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (min-width: 1400px) {
    .navbar-container {
        padding-left: 120px;
        padding-right: 120px;
    }
}*/

/* Mobile Menu Styles */
.offcanvas-header .logo-icon {
    width: 40px;
    height: 40px;
}

.offcanvas-body .nav-link {
    border-bottom: 1px solid #e5e7eb;
}

    .offcanvas-body .nav-link:last-child {
        border-bottom: none;
    }


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}