<section aria-label="About Our Company" style="width: 85%; margin: 0 auto;">
<div class="container-fluid w-100">
    <div class="row align-items-center">
            <div class="col-md-6 mb-3 mb-md-0 text-center">
                <img src="~/images/aboutimg/JMTBanner_PS-removebg-preview.png" alt="Our company" class="img-fluid rounded ms-auto" style="background:transparent;">
            </div>
        <div class="col-md-5 text-center">
                <h1 class="mb-4" style="background: linear-gradient(to right, #f44336, #4caf50); -webkit-background-clip: text; color: transparent;">
                    <span class="fw-bold text-gradient" style="word-spacing: -5px;"><span class="fw-50 text-white"></span> About<span class="fw-50 text-white"></span> Our <span class="fw-50 text-white"></span> Company</span>
                </h1>
            <p class="lead mb-4">With over 15 years of industry experience, we've helped hundreds of businesses achieve their goals.</p>
                <a asp-controller="About" asp-action="Index" class="btn btn-outline-danger btn-lg mb-3 mb-md-2">Learn More About Us</a>
        </div>
    </div>
</div>
</section>