<section class="container-fluid " style="width:85%">
    <div class="px-0 py-5">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 mb-lg-0 mb-3">
                <h1 class="display-5 fw-bold" style="background: linear-gradient(to right, #f44336, #4caf50); -webkit-background-clip: text; color: transparent;">
                   OUR SOLUTIONS
                </h1>
                <p class="my-4">Each of our comprehensive suite of solutions has evolved into market-leading standalone business verticals.</p>
            </div>

            <div class="col-12 col-lg-6 text-lg-end text-center ">
                <div class="row justify-content-center gx-2">

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="bg-light">
                            <img class="rounded shadow px-3 py-3 w-100" style="height:100px;" src="~/images/logohere.png" alt="Jooneli Inc" title="Trading system">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="bg-light">
                            <img class="rounded shadow px-3 py-3 w-100" style="height:100px;" src="~/images/aboutimg/tradinglogo.jpg" alt="Jooneli Inc" title="Trading system">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="bg-light">
                            <img class="rounded shadow px-3 py-3 w-100" style="height:100px;" src="~/images/aboutimg/360logo.jpg" alt="360CBS" title="Core Banking system">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="bg-light" >
                            <img class="rounded shadow px-3 py-3 w-100" style="height:100px;" src="~/images/joonlogo--JfLTwqW.png" alt="Jooneli Inc" title="Trading system">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="bg-light">
                            <img class="rounded shadow px-3 py-3 w-100" style="height:100px;" src="~/images/joonlogo--JfLTwqW.png" alt="Jooneli Inc" title="Trading system">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="bg-light">
                            <img class="rounded shadow px-3 py-3 w-100" style="height:100px;" src="~/images/joonlogo--JfLTwqW.png" alt="Jooneli Inc" title="Trading system">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="bg-light">
                            <img class="rounded shadow px-3 py-3 w-100" style="height:100px;" src="~/images/joonlogo--JfLTwqW.png" alt="Jooneli Inc" title="Trading system">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
