<section class="container-fluid" style="width:85%">
    <div class="px-0 py-5">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 mb-lg-0 mb-3">
                <h1 class="display-5 fw-bold" style="background: linear-gradient(to right, #f44336, #4caf50); -webkit-background-clip: text; color: transparent;">
                    OUR SOLUTIONS
                </h1>
                <p class="my-4">
                    Our diverse portfolio of innovative solutions has grown into industry-leading business verticals, each designed to drive efficiency, scalability, and long-term value for our clients. Explore how our technologies empower organizations to thrive in a dynamic digital landscape.
                </p>
            </div>

            <div class="col-12 col-lg-6 text-lg-end text-center">
                <div class="row justify-content-center gx-2">

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="http://multipledesk.com/" class="d-flex align-items-center justify-content-center rounded shadow"
                           style="height: 150px; width: 100%;">
                            <img src="~/images/logohere.png"
                                 alt="Multiple Desk"
                                 title="Multiple Deks"
                                 style="max-height: 100px; max-width: 100%; ">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="d-flex align-items-center justify-content-center rounded shadow"
                           style="height: 150px; width: 100%;">
                            <img src="~/images/aboutimg/mobile banking.jpg"
                                 alt="Mobile banking"
                                 title="Mobile Banking"
                                 style="max-height: 100px; max-width: 100%;">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="d-flex align-items-center justify-content-center rounded shadow"
                           style="height: 150px; width: 100%;">
                            <img src="~/images/aboutimg/tradinglogo.jpg"
                                 alt="jooneli trading"
                                 title="Jooneli Trading"
                                 style="max-height: 100px; max-width: 100%;">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="d-flex align-items-center justify-content-center rounded shadow"
                           style="height: 150px; width: 100%;">
                            <img src="~/images/aboutimg/360logo.jpg"
                                 alt="360 core banking"
                                 title="360 core banking system"
                                 style="max-height: 100px; max-width: 100%;">
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="d-flex align-items-center justify-content-center rounded shadow"
                           style="height: 150px; width: 100%;">
                            <img src="~/images/aboutimg/emaillogo.png"
                                 alt="email campaign"
                                 title="email campaign"
                                 style="max-height: 100px; max-width: 100%;">  
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 p-1 text-center mb-3">
                        <a href="https://www.jooneli.com/" class="d-flex align-items-center justify-content-center rounded shadow"
                           style="height: 150px; width: 100%;">
                            <img src="~/images/aboutimg/jooneli_logo.jpg"
                                 alt="jooneli"
                                 title=""
                                 style="max-height: 100px; max-width: 100%;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
