<footer class="bg-secondary-subtle text-dark pt-5 ">
    <div class="container">
        <div class="row">

            <!-- Company -->
            <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold">Company</h6>
                <ul class="list-unstyled">
                    <li><a asp-area="" asp-controller="About" asp-action="Index" class="text-dark text-decoration-none">About Us</a></li>
                    <li><a asp-area="" asp-controller="Message" asp-action="Index" class="text-dark text-decoration-none">Contact</a></li>
                    <li><a asp-area="" asp-controller="Career" asp-action="Index" class="text-dark text-decoration-none">Career</a></li>
                </ul>
            </div>

            <!-- Our Solutions -->
            <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold">Our Solutions</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark text-decoration-none">Core Banking System</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Trading System</a></li>
                    <li><a href="http://multipledesk.com/" class="text-dark text-decoration-none">Multiple Desk</a></li>

                </ul>
            </div>

            <!-- Business Verticals -->
            <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold">Business Verticals</h6>
                <ul class="list-unstyled">
                    <li><a href="http://Jooneli.com/" class="text-dark text-decoration-none">Jooneli Inc</a></li>
                    <li><a href="http://multipledesk.com/" class="text-dark text-decoration-none">Multiple Desk</a></li>
                </ul>
            </div>

            <!-- News & Updates -->
            <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold">News & Updates</h6>
                <ul class="list-unstyled">
                    <li><a asp-controller="News" asp-action="Index" class="text-dark text-decoration-none">Corporate News</a></li>
                    @* <li><a href="#" class="text-dark text-decoration-none">Videos</a></li> *@
                </ul>
            </div>

            <!-- Certifications -->
           @*  <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold">Certifications</h6>
                <img src="~/images/joonlogo--JfLTwqW.png" alt="Certifications" class="img-fluid mt-2" style="max-width: 50px;">
                <img src="~/images/joonlogo--JfLTwqW.png" alt="Certifications" class="img-fluid mt-2" style="max-width: 50px;">
            </div> *@
        </div>

        <hr>

        <!-- Bottom Bar -->
        <div class="d-flex justify-content-between align-items-center flex-wrap py-3">
            <p class="mb-0"><a>&copy; 2025</a> <span class="text-danger fw-bold">Jooneli Group</span>.</p>
            <div>
                <a href="https://www.facebook.com/profile.php?id=100063535842460" class="text-dark me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-dark me-3"><i class="bi bi-linkedin"></i></a>
                <a href="#" class="text-dark"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
