<div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 100vh; margin-top: -50px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h1 class="display-4" style="letter-spacing: -2px;word-spacing: -10px;background: linear-gradient(to right, #f44336, #4caf50); -webkit-background-clip: text; color: transparent;">
                    <span class="fw-bold text-gradient" style="word-spacing: -5px;"><span class="fw-200 text-white"></span> Innovative<span class="fw-200 text-white"></span> Business <span class="fw-200 text-white"></span> Solutions</span>
                </h1>
                <p class="lead  text-white">Driving growth through strategic partnerships and cutting-edge technology.</p>
                <p class="mb-4 text-white">
                    Jooneli Inc Pvt. Ltd. is a Nepali software company that develops and provides the Jooneli Software suite. Our flagship product, 360 Core Banking Software and Jooneli Trading, is a comprehensive business management solution.
                    Jooneli Inc serves a variety of industries and has a significant presence globally. We collaborate with authorized partners for implementation, training, and support services.
                </p>
                <div class="text-center d-flex gap-2 justify-content-center">
                    <a asp-controller="Message" asp-action="Index" class="btn btn-danger btn-lg px-4 text-white">Contact Us</a>
                    <a asp-controller="Solutions" asp-action="Index" class="btn  btn-outline-light btn-lg px-4 ">Our Services</a>
                </div>
            </div>
        </div>
    </div>
</div> 

