<!-- Mega Dropdown Container -->
<div class="mega-dropdown-container">
    <div class="mega-dropdown">
        <!-- Your mega dropdown content here -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Corporate Digital Banking</h5>
                    <ul class="list-unstyled">
                        <li class="text-decoration-none list-unstyled mb-4 mega-dropdown-item">
                            <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center text-dark">
                                <i class="bi bi-bank me-2"></i>
                                <span class="me-3  fw-bold">360 CBS</span>
                            </a>
                            <span class="ms-4 description">Comprehensive corporate banking solutions</span>
                        </li>

                        <li class="text-decoration-none list-unstyled mb-4 mega-dropdown-item">
                            <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center text-dark">
                                <i class="bi bi-phone me-2"></i>
                                <span class="me-3  fw-bold">Mobile Banking</span>
                            </a>
                            <span class="ms-4 description">Banking on-the-go, anywhere, anytime</span>
                        </li>

                        <li class="text-decoration-none list-unstyled mb-4 mega-dropdown-item">
                            <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center text-dark">
                                <i class="bi bi-cash-coin me-2"></i>
                                <span class="me-3  fw-bold">ATM Banking</span>
                            </a>
                            <span class="ms-4 description">Access your funds securely with ATMs</span>
                        </li>

                        <li class="text-decoration-none list-unstyled mega-dropdown-item ">
                            <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center text-dark">
                                <i class="bi bi-phone me-2"></i>
                                <span class="me-3  fw-bold">Mobile Teller</span>
                            </a>
                            <span class="ms-4 description">Instant teller access from your phone</span>
                        </li>
                    </ul>
                </div>


                <div class="col-md-4">
                    <h5>Trading System</h5>
                    <ul class="list-unstyled">
                        <li class="text-decoration-none list-unstyled mb-4 mega-dropdown-item">
                            <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center text-dark">
                                <i class="bi bi-cart-dash me-2"></i>
                                <span class="me-3  fw-bold">Trading System</span>
                            </a>
                            <span class="ms-4 description ">Advanced trading system for efficient trading</span>
                        </li>

                        <li class="text-decoration-none list-unstyled mega-dropdown-item">
                            <a href="http://Jooneli.com/" class="text-decoration-none d-flex align-items-center text-dark">
                                <i class="bi bi-building me-2"></i>
                                <span class="me-3 fw-bold ">ERP Mobile</span>
                            </a>
                            <span class="ms-4 description">Mobile ERP for enterprise management</span>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h5>Automation</h5>
                    <ul class="list-unstyled"> 
                        <li class="text-decoration-none list-unstyled mb-4 mega-dropdown-item">
                            <a href="http://multipledesk.com/" class="text-decoration-none d-flex align-items-center text-dark">
                                <i class="bi bi-plug me-2"></i>
                                <span class="me-3  fw-bold">MultipleDesk - Remote Access</span>
                            </a>
                            <span class="ms-4 description">Remote access for seamless multitasking</span>
                        </li>

                        <li class="text-decoration-none list-unstyled mega-dropdown-item">
                            <a href="#" class="text-decoration-none d-flex align-items-center text-dark">
                                <i class="bi bi-envelope me-2"></i>
                                <span class="me-3  fw-bold">Email Automation</span>
                            </a>
                            <span class="ms-4 description ">Automate your email marketing and campaigns</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>