<div class="offcanvas offcanvas-start" style="width:75%;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="mobileMenu">
    <div class="offcanvas-header">
        <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center text-decoration-none">
            <div class="logo-icon bg-gradient d-flex align-items-center justify-content-center rounded-3 me-3">
                <img src="~/images/joonlogo--JfLTwqW.png" alt="Jooneli Inc" style="height:25px; margin-left:25px"/>
            </div>
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark fs-5 py-3" asp-controller="About" asp-action="Index">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fs-5 py-3" asp-controller="Solutions" asp-action="Index">BUSINESS VERTICALS</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark fs-5 py-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SOLUTIONS
                </a>
                <ul class="dropdown-menu border-0">
                    <li><a class="dropdown-item py-2" href="http://Jooneli.com/">360 CBS</a></li>
                    <li><a class="dropdown-item py-2" href="http://Jooneli.com/">Mobile Banking</a></li>
                    <li><a class="dropdown-item py-2" href="http://Jooneli.com/">ATM Banking</a></li>
                    <li><a class="dropdown-item py-2" href="http://Jooneli.com/">Mobile Teller</a></li>
                    <li><a class="dropdown-item py-2" href="http://Jooneli.com/">Jooneli Trading</a></li>
                    <li><a class="dropdown-item py-2" href="http://Jooneli.com/">ERP Mobile</a></li>
                    <li><a class="dropdown-item py-2" href="http://multipledesk.com/">Multiple Desk</a></li>
                    <li><a class="dropdown-item py-2" href="http://Jooneli.com/">Email Automation</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fs-5 py-3" asp-controller="Career" asp-action="Index">CAREER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fs-5 py-3" asp-controller="News" asp-action="Index">NEWS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fs-5 py-3" asp-controller="Message" asp-action="Index">GET IN TOUCH</a>
            </li>
        </ul>
    </div>
</div>